    <div class='carousel'>
      <ul class="carousel-list">
        <li *ngFor="let item of imgArrs; let $index = index;" class="carousel-list_item"
         [ngClass]="{
           'carousel-list_item--preActive': item.preActive,
           'carousel-list_item--active': item.active,
           'carousel-list_item--nextActive': item.nextActive, 
           'carousel-list_item--hide': item.hide }"
          (click)="switchImg(item, $index)">
          <img [src]="item.src" width="100%" height="100%">
        </li>
      </ul>
      <ul class="carousel-slider">
        <li *ngFor="let item of imgArrs; let $index = index;" class="carousel-slider_item"
        (mouseover)="switchImg(item, $index)" [ngClass]="{'carousel-slider_item--active': item.active}">
        </li>
      </ul>
    </div>
