$margin-right: 30px;   //最右侧的外边距
$large-title-padding: 5px;   //大标题的内补

.carousel-wrap {
  margin-right: $margin-right;
}

.recomend-panel {
  margin-top: 50px;
}

.recomend-header {
  margin-right: $margin-right;
  padding-bottom: $large-title-padding;
  border-bottom: 1px solid #ccc;

  & > h2 > a {
    padding-bottom: $large-title-padding;
    color:#333;
    text-decoration: none;
    cursor: default;
    border-bottom: 4px solid #ccc;
  }

  & > h2 > button {
    padding: 2px 5px;
    font-size: 12px;
  }
}

.hot-pick {
  width: 100%;
  min-height: 130px;
  box-sizing: border-box;

  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.hot-pick > .hot-pick_item {
  float: left;
  width: 202.5px;
  min-height: 130px;
  margin-top: 20px;
  margin-right: $margin-right;
  box-shadow: 1px 1px 1px 1px #ccc;

  & > a {
    display: inline-block;
    height: 130px;
  }
}

//个性推荐
.recomend {
  margin-right: 30px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  & > .recomend_item {
    float: left;
    width: 50%;
    margin-top: 20px;
    padding-bottom: 20px;

    & > .remoend_item_img {
      float: left; 
      width: 200px;
      height: 150px; 
      margin-right: 15px;
    }      

    & > .recomend_item_text {
      float: left;
      transform: translateY(45px);

      h5 {
        margin-top: 15px;
      }
    }
  }

  //大于第一行改变样式
  & > .recomend_item--notfirst {
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 0;
  }

  & > .recomend_item--padding {
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }

  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

//歌单
.music-sheet {
  min-height: 200px; 
  margin: 20px 30px 20px 0; 
  border: 1px solid #ccc; 
  box-sizing: border-box;

  & > .music-sheet_header {
    width:100%; 
    height: 30px; 
    padding: 8px 12px; 
    background: rgba(8, 8, 8, 0.04);

    span {
      color: #802727;
      margin-right: 2%;
    }
  }
  
  & > .music-sheet_content {

    & > .music-sheet_list:first-child {
      border-right: 1px solid #ccc;
    }
    
    & > .music-sheet_list {
      float: left;     
      width: 50%; 
  
      & > .music-sheet_list_item {
        padding: 8px 12px;
        line-height: 1.5em;
      }
  
      & > .music-sheet_list_item:nth-child(even){
        background: #faf9f9;
      }
  
      & > .music-sheet_list_item--selected {
        background: #ccc;
      }
    }
  }
}

// 歌曲排名样式
.music-sheet_list_item--rank {
  float: left;
  width: 8%;
}

// 歌曲名
.music-sheet_list_item--song {
  float: left;
  width: 60%;

  & > .music-sheet_list_item--sq {
    display: inline-block; 
    padding: 1px;
    margin-left: 8px;
    border: 1px solid #F00;          
    color: #F00; 
    line-height: 12px;
    transform: scale(0.6); 
    -webkit-transform: scale(0.6);
  }

  & > .music-sheet_list_item--sq + span {
    margin-left: 8px;
    color: rgb(146, 25, 31)
  }
}

.music-sheet_list_item--author {
  float: left; 
  padding-right: 2%;
  width: 32%; 
  text-align: right
}

