<div class="carousel-wrap">
  <carousel [autoSwitch]="true"></carousel>
</div>
<div class="recomend-panel">
  <div class="recomend-header">
    <h2><a href="javascript:void(0)">热门精选</a></h2>
  </div>
  <ul class="hot-pick"  *ngFor="let items of hotItemArr">
    <li class="hot-pick_item" *ngFor="let childItem of items">
      <a href="javascript:void(0)"> <img [src]="childItem.src" alt="热门推荐"></a>
      <h5>{{childItem.content}}</h5>
    </li>
  </ul>
</div>
<div class="recomend-panel">
  <div class="recomend-header">
    <h2><a href="javascript:void(0)">个性化推荐</a></h2>
  </div>
  <ul class="recomend" *ngFor="let items of recomendArr; let rows = index">
    <div class="recomend_item" *ngFor="let item of items; let $index = index" 
    [ngClass]="{'recomend_item--padding': $index !== 0, 'recomend_item--notfirst': rows > 0}">
      <a href="javascript:void(0)" class="remoend_item_img">
        <img [src]="item.src" alt="个性推荐">
      </a>
      <div class="recomend_item_text">
        <h2>每日歌曲推荐</h2>
        <h5>根据你的口味生成，每日更新！</h5>
      </div>
    </div>
  </ul>
</div>
<div class="recomend-panel">
  <div class="recomend-header">
    <h2>
      <a href="javascript:void(0)">新歌速递</a>
      <button type="button" class="pull-right">更多></button>
    </h2>
  </div>
  <div class="music-sheet clearfix">
    <div class="music-sheet_header">
      <span class="fa fa-play-circle-o fa-lg"></span>
      播放全部
    </div>
    <div class="music-sheet_content clearfix">
      <ul class="music-sheet_list">
        <li class="music-sheet_list_item clearfix" *ngFor="let songItem of songArr" (click)="songItem.isSelected = true"
        [ngClass]="{'music-sheet_list_item--selected': songItem.isSelected}">
          <div class="music-sheet_list_item--rank">{{songItem.rank}}</div>
          <div class="music-sheet_list_item--song">
            <a href="javascript:void(0)">{{songItem.songName}}</a>
            <div class="music-sheet_list_item--sq">SQ</div>
            <span class="fa fa-television"></span> 
          </div>
          <div class="music-sheet_list_item--author">
            <a href="javascript:void(0)">{{songItem.author}}</a>
          </div>    
        </li>
      </ul>
      <ul class="music-sheet_list">
        <li class="music-sheet_list_item clearfix" *ngFor="let songItem of songArr" (click)="songItem.isSelected = true"
        [ngClass]="{'music-sheet_list_item--selected': songItem.isSelected}">
          <div class="music-sheet_list_item--rank">{{songItem.rank}}</div>
          <div class="music-sheet_list_item--song">
            <a href="javascript:void(0)">{{songItem.songName}}</a>
            <div class="music-sheet_list_item--sq">SQ</div>
            <span class="fa fa-television"></span> 
          </div>
          <div class="music-sheet_list_item--author">
            <a href="javascript:void(0)">{{songItem.author}}</a>
          </div>      
        </li>
      </ul>
    </div>
  </div>
</div>

