$margin-right: 30px;   //最右侧的外边距
$large-title-padding: 5px;   //大标题的内补

.hot-panel {
  margin-top: 50px;
}

.hot-header {
  margin-right: $margin-right;
  padding-bottom: $large-title-padding;
  border-bottom: 1px solid #ccc;
}
.hot-header > h2 > a {
  padding-bottom: $large-title-padding;
  color:#333;
  text-decoration: none;
  cursor: default;
  border-bottom: 4px solid #ccc;
}

.carousel-wrap {
  margin-right: $margin-right;
}

.hot-pick {
  width: 100%;
  min-height: 130px;
  box-sizing: border-box;

  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

.hot-pick > .hot-pick-item {
  float: left;
  width: 202.5px;
  min-height: 130px;
  margin-top: 20px;
  margin-right: $margin-right;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.hot-pick > .hot-pick-item > a {
  display: inline-block;
  height: 130px;
}

img {
  width: 100%;
  height: 100%;
}

//个性推荐
.recomend {
  margin-right: 30px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  & > .recomend_item {
    float: left;
    width: 50%;
    margin-top: 20px;
    padding-bottom: 20px;

    & > .remoend_item_img {
      float: left; 
      width: 200px;
      height: 150px; 
      margin-right: 15px;
    }      

    & > .recomend_item_text {
      float: left;
      transform: translateY(45px);

      h5 {
        margin-top: 15px;
      }
    }
  }

  //大于第一行改变样式
  & > .recomend_item--notfirst {
    margin-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 0;
  }

  & > .recomend_item--padding {
    padding-left: 20px;
    border-left: 1px solid #ccc;
  }

  &:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both;
  }
}

//歌单
.music-sheet_list {
  li {
    padding: 5px;
    line-height: 1.5em;
  }
  li:nth-child(odd){
    background: #fff;
  }

  li:nth-child(even){
    background: #f7f3f3;
  }
}
