.home-navbar {
  border-bottom: 1px solid #ccc;
  margin-right: 30px;
}

.home-navbar_list {
  width: 600px;
  margin: auto;

   &:after {
      display: table;
      content: "";
      clear: both;
   }

   & > li {
    float: left;    
    min-width: 85px;
    padding: 12px 5px;
    list-style: none;
    text-align: center;

    & > .active {
      color: rgb(189, 39, 39);
    }

    & > a {
      color: #000;
      font-size: 14px;
      text-decoration: none;
    }

    & > a:hover {
      color: rgb(189, 39, 39);
    }
  }
}
