<div style=" border-bottom: 1px solid #ccc;margin-right: 27.5px;">
  <div>
    <ul class="navbar-list">
      <li>
        <a href="javascript:void(0)" [routerLink]="['./recommend']" routerLinkActive="active">
         个性推荐
       </a>
        </li>
        <li><a href="javascript:void(0)" [routerLink]="['./music-sheet']" routerLinkActive="active">
        歌单
        </a></li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['./live-station']" routerLinkActive="active">
        主播电台
        </a>
        </li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['./rank-list']" routerLinkActive="active">
       排行榜
       </a>
        </li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['./singer']" routerLinkActive="active">
       歌手
       </a>
        </li>
        <li>
          <a href="javascript:void(0)" [routerLink]="['./new-music']" routerLinkActive="active">
      最新音乐
     </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
